$basicFont01: 'Noto+Sans+KR';
$basicFont02: 'Orbit';
$font01: 'Noto Sans KR', sans-serif;
$font02: 'Orbit', sans-serif;


@import url('https://fonts.googleapis.com/css2?family=#{$basicFont02}&display=swap');