@import './font.scss','./variable.scss';
$headerMargin: 12vw;
$headerLineHeight: 12vh;

.background {
    font-family: $font02;
    background-color: $themeColor;
    color: #fff;
    height: 25vh;
    h1 {
        font-size: 2.2rem;
        margin-left: $headerMargin;
        line-height: $headerLineHeight;
        font-weight: bold;
    }
    p{
        margin-left: $headerMargin;
    }

}